body{
    background-color: #F4F7FB;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

.bannerPrivacidade{
    background-color:#C4C4C4;
    padding:10px;
    text-align: center;
    border: 1px;
    margin-bottom: 15px;

}

form input {
    background-color:#ecf0ef ;
    display: block;
    margin-bottom: 15px;
    width: 300px;
    padding: 10px;
    text-align: center;
}

