body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}
.checklist{
    background-color: aquamarine;
    padding: 10px;
    border-left: 5px;
    margin-top: 15px;  
}
.bannerPrivacidade{
    background-color: antiquewhite;
    padding:10px;
    text-align: center;
    border: 1px;
    margin-bottom: 15px;

}
form input {
    display: block;
    margin-bottom: 10px;
    width: 300px;
    padding: 5px;

}